In [1]:
import pandas as p
import sklearn as sk
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [2]:
df = p.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
l = LabelEncoder()
l.fit(df["Sex"])
a = l.transform(df["Sex"])
df["Sex"] = a

In [5]:
"""l.fit(df["Embarked"])
b = l.transform(df["Embarked"])
df["Embarked"] = b"""

'l.fit(df["Embarked"])\nb = l.transform(df["Embarked"])\ndf["Embarked"] = b'

In [6]:
"""cabin_cls = []
cabin_no = []
for index,rows in df.iterrows():
    val = rows["Cabin"]
    cabin_cls.append(val[0])
    cabin_no.append(val[1:])
df["cabin_class"] = cabin_cls
df["cabin_#"] = cabin_no"""

'cabin_cls = []\ncabin_no = []\nfor index,rows in df.iterrows():\n    val = rows["Cabin"]\n    cabin_cls.append(val[0])\n    cabin_no.append(val[1:])\ndf["cabin_class"] = cabin_cls\ndf["cabin_#"] = cabin_no'

In [7]:
"""l.fit(df["cabin_class"])
c = l.transform(df["cabin_class"])
df["cabin_class"] = c"""

'l.fit(df["cabin_class"])\nc = l.transform(df["cabin_class"])\ndf["cabin_class"] = c'

In [8]:
drop_labels = ["Cabin","Name","Ticket"]
df = df.drop(labels = drop_labels, axis = 1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(6), object(1)
memory usage: 62.7+ KB

In [10]:
em = []
ag = []
for index,row in df.iterrows():
    if p.isna(row["Embarked"]):
        row["Embarked"] = "S"
    if p.isna(row["Age"]):
        row["Age"] = df["Age"].mean()
    ag.append(row["Age"])
    em.append(row["Embarked"])
df["Embarked"] = em
df["Age"]= ag

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null object
dtypes: float64(2), int64(6), object(1)
memory usage: 62.7+ KB

In [12]:
df["Embarked"] = l.fit_transform(df["Embarked"])

In [13]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [14]:
df.to_csv("cleaned_train.csv")